body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    45deg,
    rgba(26, 29, 29, 0.974) 0%,
    rgb(23, 13, 27) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 170vh;
}
h1 {
  font-size: 55px;
  background-image: linear-gradient(
    45deg,
    rgba(52, 132, 206, 0.974) 0%,
    rgb(108, 32, 156) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.3px black;
}
h2 {
  font-size: 25px;
  background-image: linear-gradient(
    75deg,
    rgba(80, 146, 208, 0.974) 0%,
    rgb(142, 94, 172) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.3px rgb(148, 76, 195);
}
h3 {
  margin-top: 10px;
  font-size: 20px;
  background-image: linear-gradient(
    75deg,
    rgba(158, 189, 218, 0.974) 0%,
    rgb(185, 111, 220) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.3px rgb(148, 76, 195);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  background-image: linear-gradient(
    75deg,
    rgba(158, 189, 218, 0.974) 0%,
    rgb(185, 111, 220) 100%
  );
  color: #f8f3f3;
  width: 205px;
  height: 50px;
  margin-top: 40px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  cursor: pointer;
  outline: hidden;
}
.btn:active {
  transform: scale(0.95);
  transition: ease 0.4s;
  box-shadow: 1px 2px 1px #1d1d1e;
}

.quiz {
  color: rgb(12, 12, 12);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 700px;
}

.quiz-answer {
  min-width: 150px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 15px;
}

select {
  background-color: #e9edf1;
  color: #0c0c0c;
  font-size: 12.5px;
  text-align: center;
  width: 205px;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 10px;
  text-transform: uppercase;
  z-index: 1;
}
.answers {
  display: flex;
  justify-content: space-between;
}

.answers p {
  min-width: 200px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 1px 3px 2px #141517;
  word-wrap: break-word;
  margin-left: 10px;
  color: #42454b;
  font-size: 20px;
}

.answers p:active {
  color: #9812db;
  transform: scale(0.93);
  box-shadow: 2px 3px 5px #6d028e;
  transition: all 0.4s;
}

@media only screen and (max-width: 500px) {
  .quiz,
  .btn,
  select {
    transform: scale(0.55);
  }
}

@media only screen and (max-width: 700px) {
  .quiz,
  .btn,
  select {
    transform: scale(0.65);
  }
  .answers {
    flex-direction: column;
    align-items: center;
  }
  body {
    height: 450vh;
  }
}

@media only screen and (max-width: 978px) {
  .quiz,
  .btn,
  select {
    transform: scale(0.85);
  }
}
