body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(45deg, #8446fc, #50bfa7);
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 100vh;
}
.btn {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 3px 2px #8446fc;
  font-size: 14px;
  outline: none;
}

.quiz {
  color: rgb(12, 12, 12);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.quiz-answer {
  border: 1px solid black;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 15px;
}
.answers {
  display: flex;
  justify-content: space-between;
}
